body{
    margin:0px;
    padding:0px;
    background-image: url("nikki.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.tom:hover{
    text-transform: capitalize;
    color:aqua;
    text-shadow: 3px 3px red;
    font-size: 100px;

}
.horizontal-navbar{

    overflow:hidden;
}
.horizontal-navbar a{
    padding:10px 50px 10px 50px;
    float:left;
    display:block;
    text-decoration: none;
    text-align:center;
    

}
.horizontal-navbar a:hover{
    color:rgb(198, 27, 27);
    background-color:pink;
    border-radius: 20px;
    border:solid 5px palevioletred;
}

    
